<% content_for(:title, "Artists | Concert Cal") %>

<div class="row">

    <div class="jumbotron">
      <h3>Your Artists:</h3>
    </div>

  <ul>
    <% @artists.each do |artist| %>
      <li><%= artist.name %></li>
      <% end %>
  </ul>
</div>
