<% content_for(:title, "New Artist | Concert Cal") %>

<% if @artist.errors.any? %>
  <h3>Please fix these errors:</h3>

  <ul>
    <% @artist.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<h3>New Artist Addition</h3>
<br>
<form action='/artists' method= 'post'>
  <label for='artist_name'>Artist Name: </label>
  <input id='artist_name' name='artist[name]' type="text">
  <button>Submit</button>
</form>
